%div.collection-buttons
  Your Collections:
  - Collection.accessible_by(current_ability, :manage).each do |collection|
    = form_tag problem_path(:id => problem.id), :method => :put do
      - selected = collection.problems.include? problem
      - if selected  
        = hidden_field_tag :collection, collection.id, :id => nil
        // = label collection.name.truncate(35), :id => "toggle_collection_#{collection.id}_#{problem.id}", :class => "collection-button btn btn-default", :title => collection.name
        = submit_tag collection.name.truncate(35), :id => "toggle_collection_#{collection.id}_#{problem.id}", :class => "collection-button btn btn-info", :title => collection.name



- others = problem.collections.select{ |c| can?(:read, c) and cannot?(:manage, c) }
- if !others.empty?
  %div.collections-from-others
    Collections from Others:
    - others.each do |collection|
      = link_to collection.name.truncate(35), collection_path(:id => collection.id), :class => 'btn btn-link', :title => collection.name
      
      
// %div.collection-checkboxes
//   All Collections:
//   - Collection.accessible_by(current_ability, :manage).each do |collection|
//     = form_tag problem_path(:id => problem.id), :method => :put do
//       - selected = collection.problems.include? problem
//       = hidden_field_tag :collection, collection.id, :id => nil
//       - if selected
//         = submit_tag collection.name.truncate(35), :id =>"collections_#{collection.id}", :class => "collection-checkboxes btn btn-info", :title => collection.name
//       -else
//         = submit_tag collection.name.truncate(35), :id =>"collections_#{collection.id}", :class => "collection-checkboxes btn btn-default", :title => collection.name
      
