%div.collection-buttons
  All Collections:
  - Collection.accessible_by(current_ability, :manage).each do |collection|
    - selected = collection.problems.include? problem
    = hidden_field_tag :collection, collection.id, :id => nil
    - if selected
      %div {:id =>"collections_checkbox_#{collection.id}", :class => "collection-checkboxes btn btn-info", :title => collection.name}
        collection.name.truncate(35)
    - else
      %div {:id =>"collections_checkbox_#{collection.id}", :class => "collection-checkboxes btn btn-default", :title => collection.name}
        collection.name.truncate(35)
%div.collection-buttons
  All Collections:
  - Collection.accessible_by(current_ability, :manage).each do |collection|
    = form_tag problem_path(:id => problem.id), :method => :put do
      - selected = collection.problems.include? problem
      = hidden_field_tag :collection, collection.id, :id => nil
      - if selected
        // = check_box_tag "collections[#{collection.id}]", 0, check = selected , class: "collection-button btn btn-info", id: "collections_#{collection.id}"
        = submit_tag collection.name.truncate(35), :id =>"collections_#{collection.id}", :class => "collection-checkboxes btn btn-info", :title => collection.name

      - else
        // = check_box_tag "collections[#{collection.id}]", 1, check = selected , class: "collection-button btn btn-default", id: "collections_#{collection.id}"
        = submit_tag collection.name.truncate(35), :id =>"collections_#{collection.id}", :class => "collection-checkboxes btn btn-default", :title => collection.name
