
- if test_problem.problem_type == "MultipleChoice" or test_problem.problem_type == "TrueFalse"
  %div.question{:id => "#{test_problem.uid}", :class => "question"}
    %p
      = test_problem.question_text.html_safe
    - if !test_problem.question_image.nil?
      %br
      = image_tag test_problem.question_image
    %div.entrys{:tag => "multiple"}
      - for i in (0..test_problem.answer_entrys.length - 1)
        %div.entrybox{:answer_id => "entry_#{i+1}"}

          %input{:type=> "radio", :name => "#{test_problem.uid}", :value=> 1, :checked=>test_problem.answer_correct?[i]}
          %p.entrytext
            = test_problem.answer_entrys[i].strip
    %button{:type => "button", :class => "button-check btn btn-default"}
      Check Answer

- if test_problem.problem_type == "SelectMultiple"
  %div.question{:id => "#{test_problem.uid}", :class => "question"}
    %p
      = test_problem.question_text.html_safe
    - if !test_problem.question_image.nil?
      %br
      = image_tag test_problem.question_image
    %div.entrys{:tag => "multiple"}
      - for i in (0..test_problem.answer_entrys.length - 1)
        %div.entrybox{:answer_id => "entry_#{i+1}"}
          %input{:type=> "checkbox", :name => "#{test_problem.uid}", :value=> 1, :checked=>test_problem.answer_correct?[i]}
          %p.entrytext
            = test_problem.answer_entrys[i].strip
    %button{:type => "button", :class => "button-check btn btn-default"}
      Check Answer

- if test_problem.problem_type == "FillIn"
  %div.question{:id => "#{test_problem.uid}", :class => "question"}
    %p
      = test_problem.question_text.html_safe
    - if !test_problem.question_image.nil?
      %br
      = image_tag test_problem.question_image
    = "Your Answer:" 
    %input{:type => "text"}
    %button{:type => "button", :class => "button-check btn btn-default"}
      Check Answer
>>>>>>> 65e7617b5c77b8405137752b5de022844bcd98d4
