
%p.text-center Welcome to Course Question Bank.
%p.text-center Easily organize all your tests and class materials!
%div.text-center#login
  = link_to 'Log in with your GitHub account', '/auth/github', class: "btn btn-default"
  = link_to 'Dev Login', '/auth/developer', class: "btn btn-default" unless Rails.env.production?
%div.text-center#choose-identity
  %p.text-center Login as
  - @dev_users.each do |user|
    = link_to "#{user.username}", bypass_path(:user_id => user.id), class: "btn btn-default" unless Rails.env.production?

%div.text-center
  - @dev_users.each do |user|
    = user.username
